table.widget-group{
  border-radius: 5px;
  background-color: #EEE;
}

.pagefield_group.group{
  .label{
	font-style:italic;
  }
}

.widget-group{
  .group{
	overflow: hidden;
	clear:both;
	background: #DDD;
	border-radius: 5px;
	margin: 5px;
	padding:5px;
  }

  tr{
  }

  td,
  th{
	border:none;
	text-align: left;
  }
}

.ordering{
  A{
	font-weight: bold;
  }

  A.btn-order-up,
  A.btn-order-down{
	width: 16px;
	text-indent: -999px;
  }

  A.btn-order-up:hover,
  A.btn-order-down:hover{
	background-color: #B25455;
  }

  A.item-index{
	background: #333;
	padding: 0 5px;
	border-radius: 15px;
	cursor: default;
	font-size:10px;
	margin: 0 5px;
	color:#FFF;
  }
}